footer
	.footer__row
		display: flex
		align-items: center
		letter-spacing: 7px
		color: $bluecolor
		font-size: 14px
		font-weight: 600
		margin: 
			top: 350px
			bottom: 125px
		.footer__left-block
			text-align: right
		.circle
			svg
				&:hover
					transform: translateY(-50px) scale(1.1)
			textPath
				letter-spacing: 0
			
		