.podcast__bloks
	margin-bottom: 13.3vh
	.podcast__block
		position: relative
		img
			width: 100%
		span
			display: block
			margin: 3.7vh 0
			font-size: 2vh
			font-family: poppinssemibold
			text-transform: uppercase
		p
			font-family: poppinsregular
			font-size: 2.1vh
			line-height: 3.3vh
		&::after
			content: ''
			background: $bluecolor
			position: absolute
			right: -3vh
			top: 11vh
			width: 30vh
			height: 30vh
			border-radius: 100%
			z-index: -1
